<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qts.gopik_money">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /> -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:directBootAware="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true" />
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.InvoiceTopFiveStatusDealer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.InvoiceTopFive"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.qts.gopik_money.Activity.OEMDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.EditShopkeeperProfile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.RejectedShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.ApprovedFinacerShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.ShopkeeperLoanDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.LoanStatusShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.ViewAllPoShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.TopFivePoShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.PendingAtGopik"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.EditShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.Shopkeeper_PO_generate"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Shopkeeper.HomeShopkeeper"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.View_Invoice_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.LoanDetails_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.LoanStatus"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.Disbursed"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.AwaitingDisbursal"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PersonalDetails_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.BusinessDetails_Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.qts.gopik_money.Supply_Chain.TransactionDetails_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PoDetail_Rejected_Dealer_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PoDetail_Approve_Dealer_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.Po_Generate_Rejected_By_Financer_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.Po_Generate_Approved_By_Financer_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PO_Generate_Pending_OEM_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.Po_Rejected_OEM_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PoDetail_Approve_OEM_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.ProductCatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PO_Get_Modified_List"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PO_Generate_Form_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PO_Generate__AllList_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.PO_TOP_FIVE_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Supply_Chain.Image_Upload_SupplyChain"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Goat_Activity.Aadhar_Name_Number_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Aadhar_Otp_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Aadhar_Name_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Aadhar_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Resend_OTP_CAP_Otp_DEALER_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Property_Loan"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Edit_delaer_Profile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Edit_Profile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Recharge__Wallet_DEALER_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.SubDealerEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Success_Dealer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Customer_Details_Verification_Dealer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Additional_KYC_DEALER_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.ImageCapture"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.PAN_CARD_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Voter_ID_CARD_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.TermsCondition_DEALER_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.CAP_Otp_DEALER_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.CustomerAcceptancePolicy_DEALER_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Wallet_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Promocode_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.CashCalculator"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Emi_Calculator"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.ProductDetails_DEALER"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Products_DEALER"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Goat_Customer_Details_Verification_Dealer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Hero_Additional_KYC_DEALER_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.HeroCustomerAcceptancePolicy_DEALER_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Goat_Success_Dealer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.GOAT_Additional_KYC_DEALER_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.GOAT_KYC_ImageCapture"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.GOAT_PAN_CARD_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Goat_CAP_AADHAR_OTP_DEALER_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Hero_CAP_Otp_DEALER_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.GOAT_ProductDetails_DEALER_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Goat_Emi_Calculator"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Emi_Calculator_Hero"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.HeroWallet_DetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.Goat_Products_Dealer_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Dealer_Activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Draft_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Wallet_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Contest_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Scratch_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.KYC_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.All_Details_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Resend_Register_OTP_Verification"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Register_OTP_Verification"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Register"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.ResendOTPVerify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qts.gopik_money.Activity.Application_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Success"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Document_Upload"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Terms_Condition_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.LogIn_Otp_Verify"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.Activity.LogIn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qts.gopik_money.MainActivity"
            android:exported="true"/>

        <service
            android:name="com.qts.gopik_money.Utils.LoactionServices"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:ignore="Instantiatable">
            <!-- Any inner elements would go here. -->
        </service>
        <service
            android:name="com.qts.gopik_money.Utils.MyFirebase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/gu" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>